 footer {
     width: 100%;
     height: 450px;
     padding: 1px 100px;
     background-image: url(https://avatars.mds.yandex.net/get-images-cbir/7712571/E5ijrOh4_dOfCQB_ofV_KA9626/ocr);

     .container {
         display: flex;
         justify-content: space-around;
         width: 100%;
         height: 400px;
         padding: 140px 0px;

         ul {
             width: auto;
             height: auto;
             display: block;
             text-align: start;
             align-items: flex-start;
             font-size: 22px;
             font-family: sans-serif;
             font-style: normal;
             color: #fff;

             li {
                cursor: pointer;
                 margin-top: 20px;
                 font-size: 15px;
                 font-family: sans-serif;
                 font-style: normal;
                 color: #fff;
             }
         }
          
     }
     .push{
        margin-top: 15px;
        margin-bottom: 5px;
        width: 100%;
        height: 1px;
        background-color: #fff ;
     }
     span{
 
        font-size: 19px;
        color: #fff;
        font-family: sans-serif;
     }
 }