@import '../assest/style/app';

#FirstSection {
    background-image: url("/assest/image/firsthead.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    object-fit: cover;

    .container {
        position: absolute;
        left: 7%;
        top: 7%;
        right: 0;
        bottom: 0;
        width: 40%;

        h2 {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 20px;
            line-height: 49px;
            color: #595959;
        }

        button {
            width: 190px;
            height: 40px;
            background-color: #A04C97;
            border-radius: 5px;

            a {
                font-family: sans-serif;
                font-style: normal;

                font-size: 14px;
                line-height: 19px;

                color: #ffffff;
            }
        }
    }
}

#SecondSection {
    width: 100%;
    height: auto;

    .container {
        padding: 120px 450px;

        .text {
            width: 100%;
            height: auto;

            h2 {
                font-family: 'open sans';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 49px;
                text-align: center;
                color: #000000;
            }
        }

    }

    .descriptionIcons {
        display: flex;
        justify-content: space-around;
        padding: 0px 150px;

        div {
            width: 18%;
            height: auto;
            align-items: center;
            text-align: center;

            img {
                margin-bottom: 20px;
            }

            h4 {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 10px;
                text-align: center;
                color: #000000;
            }

            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 10px;
                text-align: center;
                color: #787878;
            }
        }
    }

}

#ThirdSection {
    width: 100%;
    height: auto;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 100px 100px;

        .text {
            padding: 12% 0% 12% 0%;
            width: 45%;
            height: 500px;

            h2 {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 49px;
                margin-bottom: 15px;
                color: #000000;
            }

            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 30px;
                color: #424242;
            }

            button {
                width: 190px;
                height: 44px;
                background: #595959;
                border-radius: 3px;

                a {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                }
            }
        }

        .img {
            width: 46.6%;
            height: 540px;
        }
    }
}

#FourthSection {
    .container {
        padding: 0px 450px;

        .text {
            width: 100%;
            height: auto;

            h2 {
                font-family: 'open sans';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 49px;
                text-align: center;
                color: #000000;
            }

        }

    }

    .Container {
        width: 100%;
        height: auto;
        padding: 30px 150px;

        p {
            width: 90%;
            margin-left: 50px;
            margin-bottom: 100px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 23px;
            text-align: center;
            color: #424242;
        }

        .swiper-container {
            position: relative;

            .swiper {
                width: 80%;
                height: 100%;

            }

            .swiper-slide {
                height: 300px;
                text-align: center;
                font-size: 18px;

                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;

                div {
                    img {
                        width: 220px;
                        height: 270px;
                        margin-bottom: 8px;
                    }

                    h4 {
                        font-family: 'Edu NSW ACT Foundation', cursive;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 22px;
                        text-align: center;
                        color: #000000;
                    }
                }
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
}

#FiftySection {
    width: 100%;
    height: auto;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 100px 100px;

        .text {
            padding: 12% 0% 12% 0%;
            width: 45%;
            height: 500px;

            h2 {
                width: 75%;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 49px;
                margin-bottom: 15px;
                color: #000000;
            }

            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 30px;
                color: #424242;
            }

            button {
                width: 190px;
                height: 48px;
                background: #282828;
                border-radius: 3px;
                transform: 0.5s;

                a {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                }

            }
        }

        .img {
            width: 46.6%;
            height: 540px;
        }
    }
}

@media (max-width:480px) {

    #FirstSection {
        background-image: url("/assest/image/firsthead.jpg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
        object-fit: cover;

        .container {
            position: absolute;
            left: -15%;
            top: 5%;
            right: 0;
            bottom: 0;
            width: 100%;

            h2 {
                font-family: sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 1.75rem;
                margin-bottom: 15px;
                line-height: 49px;
                color: #595959;
            }

            button {
                width: 170px;
                height: 40px;
                background-color: #A04C97;
                border-radius: 5px;

                a {
                    font-family: sans-serif;
                    font-style: normal;

                    font-size: 12px;
                    line-height: 19px;

                    color: #ffffff;
                }
            }
        }
    }

    #SecondSection {
        width: 100%;
        height: auto;

        .container {
            padding: 4% 4%;

            .text {
                width: 100%;
                height: auto;

                h2 {
                    font-family: 'open sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 39px;
                    text-align: center;
                    color: #000000;
                }
            }

        }

        .descriptionIcons {
            display: block;
            justify-content: space-around;
            padding: 0px 14%;

            div {
                width: 100%;
                height: auto;
                align-items: center;
                text-align: center;

                img {
                    margin-bottom: 20px;
                }

                h4 {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 10px;
                    text-align: center;
                    color: #000000;
                }

                p {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                    margin-bottom: 50px;
                    text-align: center;
                    color: #787878;
                }
            }
        }

    }

    #ThirdSection {
        width: 100%;
        height: auto;

        .container {
            display: block;
            justify-content: space-around;
            padding: 40px 40px;

            .text {
                padding: 4% 0% 4% 0%;
                width: 100%;
                height: 240px;

                h2 {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 40px;
                    margin-bottom: 10px;
                    color: #000000;
                }

                p {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    color: #424242;
                }

                button {
                    width: 160px;
                    height: 44px;
                    background: #595959;
                    border-radius: 3px;

                    a {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                }
            }

            .img {
                width: 200px;
                height: 320px;
                img {
                    width: 400px;
                    height: 320px;
                }
            }
        }
    }

    #FourthSection {
        .container {
            padding: 40px 40px;
    
            .text {
                width: 100%;
                height: auto;
    
                h2 {
                    font-family: 'open sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 39px;
                    text-align: center;
                    color: #000000;
                }
    
            }
    
        }
    
        .Container {
            width: 100%;
            height: auto;
            padding: 0px 10px;
    
            p {
                width: 100%;
                margin-left: 0px;
                margin-bottom: 40px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                color: #424242;
            }
    
            .swiper-container {
                position: relative;
              
                .swiper-button-prev, .swiper-rtl .swiper-button-next {
                    left: -1% !important;
                }
                .swiper-button-next, .swiper-rtl .swiper-button-prev {
                    right: -1% !important;
                }
                .swiper {
                    width: 90%;
                    height: 100%;
                }
              
                .swiper-slide {
                    height: 200px;
                    text-align: center;
                    font-size: 14px;
    
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
    
                    div {
                        img {
                            width: 115px;
                            height: 190px;
                            margin-bottom: 8px;
                        }
    
                        h4 {
                            font-family: 'Edu NSW ACT Foundation', cursive;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 22px;
                            text-align: center;
                            color: #000000;
                        }
                    }
                }
    
                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
        }
    }

    #FiftySection {
        width: 100%;
        height: auto;
    
        .container {
            display: block;
            justify-content: space-around;
            padding: 40px 40px;
    
            .text {
                padding: 1% 0% 1% 0%;
                width: 100%;
                height: 220px;
 
                h2 {
                    width: 100%;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 39px;
                    margin-bottom: 15px;
                    color: #000000;
                }
    
                p {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    margin-bottom: 25px;
                    color: #424242;
                }
    
                button {
                    width: 160px;
                    height: 48px;
                    background: #282828;
                    border-radius: 5px;
                    transform: 0.5s;
    
                    a {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
    
                }
            }
    
            .img {
                width: auto;
                height: 320px;
                img {
                    width: 100%;
                    height: 300px;
                }}
        }
    }

}


// common

.swiper {
    position: initial !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 26px !important;
    color: #000000;
 
}