@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martel:wght@200&family=Montserrat:wght@200;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Martel:wght@200&family=Montserrat:wght@200;700;900&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martel:wght@200&family=Montserrat:wght@200;700;900&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martel:wght@200&family=Montserrat:wght@200;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous");
footer {
  width: 100%;
  height: 450px;
  padding: 1px 100px;
  background-image: url(https://avatars.mds.yandex.net/get-images-cbir/7712571/E5ijrOh4_dOfCQB_ofV_KA9626/ocr);
}
footer .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  padding: 140px 0px;
}
footer .container ul {
  width: auto;
  height: auto;
  display: block;
  text-align: start;
  align-items: flex-start;
  font-size: 22px;
  font-family: sans-serif;
  font-style: normal;
  color: #fff;
}
footer .container ul li {
  cursor: pointer;
  margin-top: 20px;
  font-size: 15px;
  font-family: sans-serif;
  font-style: normal;
  color: #fff;
}
footer .push {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
footer span {
  font-size: 19px;
  color: #fff;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  scroll-behavior: smooth;
  height: 100%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  padding: 120px 100px;
}

.Container {
  padding: 50px 160px;
}

#First {
  width: 100%;
  height: auto;
}
#First .box-img-boxes {
  width: 100%;
  height: 630px;
  background-image: url(https://www.karaelmas.com.tr/class/INNOVAEditor/assets/hizmetler/bah%C3%A7e-3.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  filter: brightness(75%);
  padding: 15px 140px;
}
#First .box-img-boxes .header {
  width: 100%;
  height: 130px;
  background-color: transparent;
}
#First .box-img-boxes .header .header-head-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
#First .box-img-boxes .header .header-head-box .first-box {
  width: 20%;
  display: flex;
}
#First .box-img-boxes .header .header-head-box .first-box img {
  width: 17px;
  height: 18px;
}
#First .box-img-boxes .header .header-head-box .first-box span {
  margin-left: 10px;
  font-size: 15px;
  color: #fff;
  font-family: sans-serif;
}
#First .box-img-boxes .header .header-head-box .second-box {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
#First .box-img-boxes .header .header-head-box .second-box img {
  width: 15px;
  height: 16px;
}
#First .box-img-boxes .header .push-line {
  width: 100%;
  height: 1px;
  background-color: #C7C7C7;
  margin-top: 15px;
}
#First .box-img-boxes .header .header-footer-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#First .box-img-boxes .header .header-footer-box .first-box {
  width: 15%;
  display: flex;
}
#First .box-img-boxes .header .header-footer-box .first-box img {
  width: 125px;
  height: 50px;
}
#First .box-img-boxes .header .header-footer-box .second-box {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
#First .box-img-boxes .header .header-footer-box .second-box ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
#First .box-img-boxes .header .header-footer-box .second-box ul li {
  cursor: pointer;
  margin-top: 10px;
  font-size: 17px;
  color: #fff;
  font-style: normal;
  font-family: "open sans";
}
#First .box-img-boxes .first-section-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 27%;
}
#First .box-img-boxes .first-section-box .first {
  background-image: url(/assest/image/first-sec-first-boxs.png);
  background-repeat: no-repeat;
  width: 350px;
  height: 250px;
  background-color: #1A5221;
  display: block;
  padding: 40px 40px;
}
#First .box-img-boxes .first-section-box .first h2 {
  font-size: 32px;
  font-style: normal;
  font-family: sans-serif;
  color: #fff;
}
#First .box-img-boxes .first-section-box .first h4 {
  margin-top: 20px;
  font-size: 13px;
  font-style: oblique;
  font-family: sans-serif;
  color: #fff;
}
#First .box-img-boxes .first-section-box .second {
  background-image: url(/assest/image/first-sec-second-box.png);
  background-repeat: no-repeat;
  width: 350px;
  height: 250px;
  background-color: #a2c916;
  padding: 40px 40px;
}
#First .box-img-boxes .first-section-box .second h2 {
  font-size: 32px;
  font-style: normal;
  font-family: sans-serif;
  color: #fff;
}
#First .box-img-boxes .first-section-box .second h4 {
  margin-top: 20px;
  font-size: 13px;
  font-style: oblique;
  font-family: sans-serif;
  color: #fff;
}
#First .box-img-boxes .first-section-box .second img {
  margin-top: 60px;
  width: 200px;
  height: 140px;
}
#First .box-img-boxes .first-section-box .third {
  background-image: url(/assest/image/first-sec-first-boxs.png);
  background-repeat: no-repeat;
  width: 350px;
  height: 250px;
  background-color: #ffdd00;
  padding: 40px 40px;
}
#First .box-img-boxes .first-section-box .third h2 {
  font-size: 32px;
  font-style: normal;
  font-family: sans-serif;
  color: #fff;
}
#First .box-img-boxes .first-section-box .third h4 {
  margin-top: 20px;
  font-size: 13px;
  font-style: oblique;
  font-family: sans-serif;
  color: #fff;
}
#First .box-img-boxes .first-section-box .third img {
  width: 250px;
  height: 200px;
}

#Second {
  width: 100%;
  height: auto;
}
#Second .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 170px 0px 0px;
}
#Second .container .img-box {
  width: auto;
  height: auto;
}
#Second .container .img-box img {
  width: 535px;
  height: 800px;
}
#Second .container .paragraph-box {
  padding: 50px 0px;
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  text-align: center;
}
#Second .container .paragraph-box div {
  padding: 50px 120px;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #f1f0f0;
}
#Second .container .paragraph-box div h2 {
  font-family: sans-serif, "open" sans;
  font-size: 36px;
  font-style: normal;
  color: #3E3737;
  font-weight: 500;
}
#Second .container .paragraph-box div .first-img {
  margin-top: 10px;
  width: 310px;
  height: 45px;
}
#Second .container .paragraph-box div p {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-family: sans-serif;
  color: #3E3737;
}
#Second .container .paragraph-box div h3 {
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-style: normal;
  color: #3E3737;
}
#Second .container .paragraph-box div .second-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
  height: 50px;
}

#Third {
  width: 100%;
  height: auto;
}
#Third .container {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  align-items: center;
  padding: 70px 100px;
}
#Third .container h2 {
  font-size: 36px;
  font-family: sans-serif;
  font-style: normal;
  color: #3E3737;
}
#Third .container img {
  margin-top: 20px;
  width: 340px;
  height: 50px;
}
#Third .container-two {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 0px 120px;
}
#Third .container-two div {
  display: block;
  justify-content: flex-start;
  width: 350px;
  height: auto;
}
#Third .container-two div span {
  font-size: 120px;
  color: #918F8F;
  font-family: sans-serif;
}
#Third .container-two div h3 {
  font-size: 30px;
  font-family: sans-serif;
  font-style: normal;
  color: #5F5C5C;
}
#Third .container-two div p {
  margin-top: 15px;
  font-size: 16px;
  font-style: normal;
  color: #7C7A7A;
  font-family: sans-serif;
  line-height: 30px;
}
#Third .container-two div img {
  margin-top: 10px;
  width: 100%;
  height: 400px;
}

#Fourth {
  width: 100%;
  height: auto;
}
#Fourth .container {
  width: 100%;
  height: auto;
  display: block;
  justify-content: space-between;
  text-align: center;
  padding: 120px 100px 0px;
}
#Fourth .container h2 {
  font-size: 36px;
  font-family: sans-serif;
  font-style: normal;
  color: #2A332B;
}
#Fourth .container img {
  margin-top: 20px;
  width: 340px;
  height: 50px;
}
#Fourth .container ul {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 300px;
}
#Fourth .container ul li {
  cursor: pointer;
  font-size: 17px;
  font-style: normal;
  font-family: sans-serif;
  color: #2A332B;
  transition: 0.3s;
}
#Fourth .container ul li:hover {
  transform: 0.3s;
  color: #91B40D;
}
#Fourth .container-two {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
#Fourth .container-two div {
  border-radius: 10px;
  width: 230px;
  height: 230px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#Fourth .container-two div img {
  width: 150px;
  height: 150px;
}
#Fourth .container-two div button {
  width: 100%;
  height: 74px;
  display: block;
  text-align: center;
  color: #91B40D;
  font-size: 22px;
  font-style: normal;
  font-family: sans-serif;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#Fifty {
  width: 100%;
  height: auto;
}
#Fifty .container {
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px;
}
#Fifty .container h2 {
  font-size: 36px;
  font-style: normal;
  font-family: sans-serif;
  color: #3E3737;
}
#Fifty .container img {
  margin-top: 20px;
  width: 320px;
  height: 40px;
}
#Fifty .container-two {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 0px 130px;
}
#Fifty .container-two div {
  width: 370px;
  height: 500px;
  display: block;
  text-align: start;
  align-items: flex-start;
}
#Fifty .container-two div img {
  width: 370px;
  height: 250px;
}
#Fifty .container-two div h3 {
  margin-top: 10px;
  color: #2F2A2A;
  font-size: 17px;
  font-style: normal;
  line-height: 40px;
  font-family: sans-serif;
}
#Fifty .container-two div p {
  margin-top: 10px;
  font-size: 14px;
  font-family: sans-serif;
  font-style: normal;
  line-height: 25px;
  color: #7C7A7A;
}
#Fifty .container-two .second {
  margin-top: 30px;
  width: 370px;
  height: 500px;
  display: block;
  text-align: start;
  align-items: flex-start;
}
#Fifty .container-two .second img {
  width: 370px;
  height: 250px;
}
#Fifty .container-two .second h3 {
  margin-top: 10px;
  color: #2F2A2A;
  font-size: 17px;
  font-style: normal;
  line-height: 40px;
  font-family: sans-serif;
}
#Fifty .container-two .second p {
  margin-top: 10px;
  font-size: 14px;
  font-family: sans-serif;
  font-style: normal;
  line-height: 25px;
  color: #7C7A7A;
}/*# sourceMappingURL=index.css.map */